.Somemone-review-page{
    padding: 4rem 4rem;
    background-color: #faf1ed;
    text-align: center;
}

.edit-div{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3px;
}

.header h1{
    font-weight: bold;
    font-size: 35px;
}

.header h4{
    color: #333333;
    font-weight: 400;
}
.header .search-trip{
    background-color: white;
    /* width: 65%;
    margin-left: 20%;
    margin-right: 20%; */
    /* padding: 0.1rem; */
    border-radius: 30px;
    border: 1px solid #e0e0e0;
}

.header p {
    align-items: center;
    justify-content: left;
    text-align: left;
    /* margin-top: 3px; */
    margin-bottom: 3px;
    padding: 3px;
    margin-left: 7px;
    color: #333333;
}

.header span{
    margin: 3px;
    padding: 3px;
    color: black;
}

.cards{
    display: flex;
    justify-content: center;
    gap:2rem ;
    /* flex-wrap: wrap; */
    flex-direction: row;
    margin: 1rem;
    margin-bottom: 0%;
}

/* .myReview{
    padding: 4rem 4rem;
    display: flex;
    flex-direction: row;
}

.Reviews{
    padding-left: 10px;
}
.example {
    position: relative;
    background: linear-gradient(to top,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 100%);
    /* padding: 20px; 
    display: block;
}*/
  
/*
.example h1 {
    position: absolute;
    top:45%;
    color: white;
    font-weight: bold;
    font-size: 50px;
    padding: 20px;
}

.example h6 {
    position: absolute;
    top: 60%;
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding: 20px;
}
  
.example img {
    width: 100%;
}

.example .btn{
    position: relative;
    display: inline-block;
    top: 75%;
    margin: 0%;
    color: black;
    background-color: wheat;
} */

@media screen and (min-width:761px) {
    .header .search-trip{
        width: 85%;
        margin: 2rem;
    }
    .header h4{
        font-size: 25px;
    }
}

@media screen and (max-width:691px) {
    .cards{
        display: flex;
        gap: 1rem;
        justify-content: none;
        margin:20px;
    }
    .cards img{
        width: 100%;
    }
    .header h1{
        font-size: 30px;
    }
    .header h4{
        font-size: 18px;
    }
}

@media screen and (max-width:450px) {
    
    .cards{
        display: flex;
        gap: 1rem;
        margin: 0%;
    }
    .cards img{
        width: 100%;
    }
    .header h1{
        font-size: 30px;
        text-align: left;
    }
    .header h4{
        font-size: 20px;
        text-align:center;
    }
}

/* .padding-div{
    background: linear-gradient(to top,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 100%);
    padding: 0px;
    margin: 20px;
} */