.navbar-padding{
    padding: 2rem 2rem;
}

.nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.nav-logo{
    max-width: 500px;
}

.nav-img{
    width: 50%;
}

.nav-links{
    display: flex;
    gap: 1rem;
    justify-content: right;
    text-align: right;
    width: 100%;
}

.nav-links span{
    padding: 5px;
}

.nav-links .nav-link-item{
    text-decoration: none;
    color: black;
    font-weight: bold;
    align-items: center;
    padding: 7px;
    align-items: right;
    justify-content: right;
}

.nav-links a:hover {
    background-color: #e7e3da;
    border-radius: 20px;
    color: #000000;
}

.sign-in-btn {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    margin-top: 0%;
    border-style: none;
    margin-left: 3px;
    margin-right: 3px;
}

.sign-in-btn:hover {
    background-color: #333;
}


@media screen and (max-width:640px) and (min-width:890px){
    .navbar-padding{
        padding: 2rem 2rem;
        background-color: red;
    }
}

@media screen and (max-width:890px) {
    .navbar-padding{
        margin-left: 50px;
    }
    .navbar{
        display: flex;
        justify-content: center;
    }
    .nav-items{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }
    .sign-in-btn{
        border-radius: 0%;
    }
    .nav-links{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .nav-links .nav-link-item{
        padding: 4px;
    }

    .nav-links a:hover {
        border-radius: 10px;
    }
}

@media screen and (max-width:555px){
    .navbar-padding{
        margin-left: 0%;
        padding: 2rem 2rem;
    }
}

@media screen and (max-width:400px) {
    .navbar-padding{
        margin-left: 0%;
        padding: 0%;
    }
    .nav-links{
        flex-direction: column;
        gap: 0%;
        justify-content: left;
    }
    .nav-links .nav-link-item{
        justify-content: space-between;
    }
}