.main{
    background-color: #f1f1f1    ;
    margin: 1rem 0%;
    padding: 0.5rem 0%;
}
.Alert{
    display: table;
    justify-content: center;
    padding: 1rem 8rem;
    vertical-align: middle;
    background-color: white;
    margin: 4% 20%;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0 0 10px #fff;
}

.alert-logo-cross{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.alert-logo-cross span{
    font-size: 30px;
    font-weight: bold;
    padding: 3px;
    cursor: pointer;
}


.Terms-conditions{
    padding-top: 2.5rem;
    text-align: center;
    font-size: 11px;
}

.Cancel-btn {
    margin-left: 65%;
}

.Cancel-btn span{
    background-color: black;
    color: white;
    font-size: 40px;
    border-radius: 30px;
}

@media screen and (max-width:700px){
    .Alert{
        margin: 2.5%;
    }
    .Terms-conditions{
        text-align: center;
    }
}

@media screen and (max-width:550px){
    .Alert{
        margin:0%;
    }
}