/* .navbar {
  padding: 4rem 4rem;
}

.container {
  display: flex;
  align-items: center;
}


.nav-links{
  width: auto;
  margin: 10px 0px;
}

.nav-links span{
  padding: 5px;
}

.nav-img{
  width: 250px;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 20px;
  margin-left: 20px;
}

.nav-elements ul a.active {
  color: #574c4c;
  text-decoration: underline;
}

.nav-link-item{
  text-decoration: none;
  color: black;
  font-weight: bold;
  align-items: center;
  padding: 15px 7px;
  align-items: right;
  justify-content: right;
}

.nav-links a:hover {
  background-color: #e7e3da;
  border-radius: 20px;
  color: #000000;
}
.nav-btn{
  margin-right: 12px;
}

.sign-in-btn {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  margin-top: 0%;
  border-style: none;
}

.sign-in-btn:hover {
  background-color: #333;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
  .nav-elements{
    margin-top: 30px;
  }
  .nav-links a:hover {
    color: black;
    background-color: inherit;
  }
}

@media screen and (min-width:700px) and (max-width:800px) {
  .nav-logo{
    margin-right: 0%;
  }
}

@media screen and (min-width:800px) {
  .nav-logo{
    margin-right: 20%;
  }
}

@media (max-width: 600px) {

  .navbar .container {
    justify-content: space-between;
  }

  .menu-icon {
    margin-left:100px ;
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #e0e0e0;
    width: 0px;
    height: 300px;
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    margin-top: 40px;
    width: 200px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .sign-in-btn{
    margin-top: 15px;
    margin-bottom: 0%;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 20px;
  }

  .nav-logo{
    margin:0%;
  }
} */