.Somemone-review-page{
    padding: 4rem 4rem;
    background-color: #faf1ed;
    text-align: center;
}

.edit-div{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.header{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3px;
}

.header h1{
    font-weight: bold;
    font-size: 35px;
}

.header h4{
    color: #333333;
    font-weight: 400;
}
.header .search-trip{
    background-color: white;
    border-radius: 30px;
    border: 1px solid #e0e0e0;
}

.header p {
    align-items: center;
    justify-content: left;
    text-align: left;
    margin-bottom: 3px;
    padding: 3px;
    margin-left: 7px;
    color: #333333;
}

.header span{
    margin: 3px;
    padding: 3px;
    color: black;
}

.cards{
    display: flex;
    justify-content: center;
    gap:2rem ;
    flex-direction: row;
    margin: 1rem;
    margin-bottom: 0%;
}

.myReview{
    padding: 4rem 4rem;
    display: flex;
    flex-direction: row;
}
.Reviews{
    padding: 20px;
}

.Review-img{
    position: relative;
    padding: 20px;
    justify-content: right;
}

.example{
    position: relative;
    margin-left: 30px;
    justify-content: right;
}

.example img{
    width: 100%;
    height: 100%;
    position: relative;
}

.img-content{
    position: absolute;
    top: 50%;
    padding: 20px;
    color: white;
    text-align: left;
    width: 100%;
}

.img-content h1{
    font-weight: bolder;
    font-size: 45px;
}

.img-content h6{
    font-size: 25px;
    font-weight: 400;
    padding: 0%;
}

.img-content .btn{
    background-color: white;
    border-radius: 20px;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
    width: 40%;
}

.img-content .btn:hover{
    background-color: #e0e0e0;
    color: black;
}

.below-para{
    padding: 20px 40px;
    align-items: center;
    text-align: center;
}

.search-bar-review{
    display: flex;
    bottom: 200px;
    color: black;
    background-color: white;
    width:70%;
    margin: auto;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
    justify-content:left;
    align-items: center;
    border:1px solid #333333;
}


@media screen and (min-width:761px) {
    .header .search-trip{
        width: 85%;
        margin: 2rem;
    }
    .header h4{
        font-size: 25px;
    }
}

@media screen and (max-width:691px) {
    .cards{
        display: flex;
        gap: 1rem;
        justify-content: none;
        margin:20px;
    }
    .cards img{
        width: 100%;
    }
    .header h1{
        font-size: 30px;
    }
    .header h4{
        font-size: 18px;
    }
}

@media screen and (max-width:450px) {
    
    .cards{
        display: flex;
        gap: 1rem;
        margin: 0%;
    }
    .cards img{
        width: 100%;
    }
    .header h1{
        font-size: 30px;
        text-align: left;
    }
    .header h4{
        font-size: 20px;
        text-align:center;
    }
}

@media screen and (max-width:1075px) {
    .myReview{
        display: flex;
        flex-direction: column;
    }
    .Reviews{
        padding-left: 50px;
    }
    .example img{
        height: 500px;
        object-fit: cover;
    }
    .img-content{
        padding: 40px;
        top: 55%;
    }

    .img-content h1{
        font-size: 35px;
    }
    .img-content h6{
        font-size: 20px;
    }
    .img-content .btn{
        width: 35%;
    }
}

@media screen and (max-width:540px) {
    .myReview{
       padding: 2rem 2rem;
    }
    .img-content{
        padding: 40px;
        top: 30%;
    }
}